:root {
    font-size: 16px;
}

* {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* color: rgb(0, 138, 0); */
    text-align: center;
}

*:not(.mrng-h1) {
    font-size: 1rem;
    font-weight: 700;
}

.mrng-label {
    /* border: 1px solid red; */
    cursor: pointer;
    display: block;
    margin-bottom: 15px;
    /* padding-bottom: 15px; */
}

.mrng-paragraph {
    display: inline-block;
}

.mrng-input:not([type=checkbox]) {
    /* border: 1px solid rgb(0, 128, 0); */
    display: block;
    margin: 0 auto;
}

.mrng-input {
    padding: 4px;
}

.mrng-button {
    cursor: pointer;
    display: block;
    margin: 31px auto 15px; /* 31px is the amount of space between the label's bottom margin and the label's 1st element's, paragraph's top margin.*/
    padding: 5px;
}

.mrng-input,
.mrng-button {
    background-color: rgb(123, 215, 27);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    color: rgb(0, 0, 0);
}

.mrng-button:hover {
    background-color: rgb(0, 0, 0);
    /* border-color:rgb(123, 215, 27); */
    color: rgb(143, 235, 47);
}

.mrng-button:active {
    background-color: rgb(123, 215, 27);
    color: rgb(0, 0, 0);
}

[id^='alertP'] {
    color: rgb(238, 14, 14);
}

.alert {
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(238, 14, 14);
}

.alert:focus {
    outline: none;
}

.mrng-output {
    white-space: nowrap;
}